.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #a6cdea;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.pokemon {
background-image: url(https://imgs.search.brave.com/GXDOXXWu_0XFoEdJ4W8ug8DYD5Gyuxwjx0OuZM_9QeA/rs:fit:1024:1200:1/g:ce/aHR0cDovL2ltZzA4/LmRldmlhbnRhcnQu/bmV0L2RhMjEvaS8y/MDE1LzI5OC85LzYv/cG9rZWRleF90ZW1w/bGF0ZV9ieV9maXJl/ZHJhZ29ucmVtLWQ5/ZWRkb24ucG5n);
align-items: center;
background-position: center;
padding: 10px;
margin: 10px;
text-shadow: #282c34;
box-shadow: 5px 5px 9px 0px rgba(0,0,0,0.69);
}
.pokemon img {
  display: flex;
  align-items: center;
}